body{
    background: white;
    color: #2d3748;
    max-width: 600px;
    font-family: sans-serif;
    margin: auto;
}

p{
    line-height: 1.6rem;
}
article{
    margin-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #a0aec0;
}
article + article {
    /*margin-top: 3rem;*/
    /*padding-top: 3rem;*/
}
